@charset "UTF-8";
@import 'utils';

form p {
	margin: 0 0 $u*2;
}

.form__help {
	font-style: italic;
}

label,
.faux-label {
	font-weight: bold;
	.required {
		float: right;
		font-weight: normal;
		color: darken($grey,20%);
		font-style: italic;
	}
}

label {
	.wpcf7-form-control-wrap {
		display: block;
	}
	input, textarea {
		border: $u*0.2 solid $grey;
		display: block;
		@include prefix(border-radius, $u*0.6);
		@include box-sizing(border-box);
		width: 100%;
		padding: $u;
		font-weight: normal;
		&:focus {
			@include prefix(box-shadow,none);
			outline: none;
			border-color: $blue;
		}
	}
	textarea {
		resize: vertical;
		height: $u*16;
	}
}

.wpcf7-checkbox {
	font-weight: bold;
	display: block;
	span.wpcf7-list-item {
		display: block;
		margin: 0;
	}
	.faux-label & {
		margin-top: $u;
	}
}
.faux-checkbox {
	display: inline-block;
	height: $u*1.8;
	width: $u*1.8;
	border: $u*0.2 solid $grey;
	border-radius: $u/2;
	position: relative;
	margin-bottom: -$u*0.35;
	margin-right: $u;
	&.checked {
		&:after {
			position: absolute;
			top: -$u*0.2;
			left: -$u*0.1;
			height: $u*2;
			width: $u*2;
			text-align: center;
			line-height: $u*2;
			font-family: "gwg";
			content: '\e800';
			color: $green;
			pointer-events: none;
		}
	}
	input {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		opacity: 0;
	}
}

.wpcf7-submit {
	margin-top: $u;
}

form {
	div.wpcf7 .ajax-loader {
		margin-left: $u;
	}
	div.wpcf7-response-output {
		margin: $u 0;
		padding: $u;
		border-radius: $u/2;
		&.wpcf7-validation-errors {
			background-color: $red;
			color: darken($red,38%);
			border: none;
		}
	}
	span.wpcf7-not-valid-tip {
		color: darken($red,38%);
		font-weight: normal;
	}
}
